$color-black-real: #000;
$color-white-real: #fff;

$color-black: $color-black-real;
$color-white: $color-white-real;

$color-white-dark: #d8d8d8;
$color-yellow-light: #fff797;
$color-yellow: #ffec02;
$color-green: #66b22c;
$color-violet: #8f1a81;
$color-gray-light: #a5a5a5;
$color-gray: #666;
$color-gray-dark: #444;

@mixin neg {
  -webkit-font-smoothing: antialiased;
}
