@use "./colors";

.sumory-app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  padding-inline: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 15vw;
  grid-gap: 4rem;

  main {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
}

.instructions {
  width: 80%;
  font-size: 2.5em;
}

.util-menu {
  width: 100%;
  display: flex;
  gap: 1vw;

  button {
    font-size: 2.5rem;
    background-color: colors.$color-green;
    border-radius: 9999px;
    border: none;
    padding: 0.5rem 2rem;
  }

  img {
    height: 3rem;
  }
}

$ending-width: 25vw;

.game-container {
  display: grid;
  grid-template-columns: 1fr 0rem;
  min-height: 60vh;
  align-items: center;
  transition: grid-template-columns 1000ms;
}

.game-ended .game-container {
  grid-template-columns: 1fr $ending-width;
}

.ending {
  $padding: 2rem;
  height: 100%;
  width: calc($ending-width - $padding);
  margin-left: $padding;
  padding-left: $padding;
  border-left: 2px solid colors.$color-green;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  opacity: 0;
  transition: opacity 1000ms;

  .result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;

    font-size: 1.75rem;

    em {
      font-style: normal;
      color: colors.$color-green;
    }

    img {
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    gap: 2rem;
  }

  .buttons button {
    width: 100%;
    height: 6rem;
    background-color: colors.$color-green;
    border: none;
    color: colors.$color-black;
  }
}

.game-ended .ending {
  opacity: 1;
}

.status {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  // width: 20vw;
  top: 3vh;
  right: 0;

  img {
    width: 100%;
    pointer-events: none;
  }
}

.status-box {
  position: relative;
  display: inline-block;

  .value {
    width: 100%;
    height: 1.5em;
    font-size: 3em;
    line-height: 1.5;
  }

  .label {
    width: 100%;
    font-size: 3em;
  }
}

/* Creature animation */
.sidebar img {
  translate: 0;
  opacity: 1;
  transition: translate 500ms, opacity 500ms;
}

.game-ended .sidebar img {
  translate: -100%;
  opacity: 0;
}
