@use "./colors.scss";

$sumory-card-size: 11vmax;
$sumory-card-spacing: 1.5rem;

$sumory-card-size-tall: 10vmax;
$sumory-card-spacing-tall: 0.7vmax;

$sumory-card-size-wide: 20vmin;
$sumory-card-spacing-wide: 1.2vmin;

.sumory-board {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: $sumory-card-spacing;
}

.sumory-card {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  // width: $sumory-card-size;
  // height: $sumory-card-size;
  aspect-ratio: 1 / 1;
  // margin: $sumory-card-spacing;
  color: colors.$color-black;
  cursor: pointer;
  background-color: transparent;
  border: none;
  perspective: 50vw;

  @media (max-aspect-ratio: 1/1) {
    width: $sumory-card-size-tall;
    height: $sumory-card-size-tall;
    margin: $sumory-card-spacing-tall;
  }

  @media (min-aspect-ratio: 17/9) {
    width: $sumory-card-size-wide;
    height: $sumory-card-size-wide;
    margin: $sumory-card-spacing-wide;
  }

  .sumory-card-front,
  .sumory-card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in, background-color 0.5s 0.2s;
    transform-style: preserve-3d;
    border-radius: 2px;
  }

  .sumory-card-front {
    width: 100%;
    height: 100%;
    fill: colors.$color-green;
    background-color: transparent;
    border: 2px solid colors.$color-green;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sumory-card-back {
    background-color: transparent;
    border: 2px solid colors.$color-green;
    transform: rotateY(0deg);

    img {
      width: 100%;
    }
  }

  &.visible {
    .sumory-card-front {
      transform: rotateY(0deg);
    }
    .sumory-card-back {
      transform: rotateY(180deg);
    }
  }

  &.selected {
    .sumory-card-front {
      fill: colors.$color-black;
      background-color: colors.$color-green;
    }
  }

  .value,
  .value-ghost {
    text-anchor: middle;
    dominant-baseline: central;
  }

  .value-ghost {
    position: absolute;
    pointer-events: none;
  }

  @keyframes vanish-up {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  .value-ghost {
    animation: vanish-up 2s 0.5s ease-out forwards;
  }

  .value-ghost-imm {
    animation: vanish-up 2s 0s ease-out forwards;
  }
}
