@use "./colors";

$anim-duration: 500ms;

.modal-container {
  position: fixed;
}

.modal-container:before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity $anim-duration;
  backdrop-filter: blur(2px);
}

.modal-container[data-open="true"]:before {
  pointer-events: initial;
  opacity: 1;
}

[data-open="true"] dialog {
  transform: translateY(0);
  opacity: 1;
}

dialog {
  width: 80vw;
  height: 80vh;

  // Animated properties
  transition: transform $anim-duration, opacity $anim-duration;
  opacity: 0;
  transform: translateY(100vh);

  background-color: colors.$color-black;
  border: 3px solid colors.$color-green;
  border-radius: 2px;

  color: colors.$color-white;
  font-size: 1.5rem;

  display: flex;
  padding: 4rem;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .content {
    display: block;

    p {
      margin: 0;
    }

    p + p {
      margin-top: 1.5rem;
    }
  }

  button {
    padding-block: 1.5rem;
    padding-inline: 2rem;
    font-size: 1.5rem;
    background-color: colors.$color-green;
    border: none;
  }
}
